:root {
    --logo-color: #95E1D3;
    --first-color: #333333;
    --second-color: #B6B6B6;
}

.container {
    
}

.header {
    padding-top: 17px;
}

.service {
    padding-top: 68px;
}

.team {
    padding-top: 100px;
}

.footer {
    padding-top: 80px;
}