
    $accent-color: #95E1D3;
    $titles-color: #333333;
    $text-color: #B6B6B6;
    $accent_second-color: #F38181;
    $second-font: 'Roboto', sans-serif;
    $main-font: 'Montserrat', sans-serif;
    $third-font: 'Kaushan Script', sans-serif;