:root {
    --accent-color: #95E1D3;
    --titles-color: #333333;
    --text-color: #B6B6B6;
    --hover: #F38181;
    --second-text: 'Roboto', sans-serif;
    --main-text: 'Montserrat', sans-serif;
    --third-text: 'Kaushan Script', sans-serif;
}