.header {
    padding-top: 17px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_link {
    font-size: 30px;
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
}

.header_link {
    color: var(--accent-color);
    text-decoration: none;
    text-transform: uppercase;
}

.header_link:hover {
    color: var(--hover);
    transition: 0.3s;
    border-bottom: 3px solid var(--hover);
    padding-bottom: 10px;
}



.header_list {
    display: flex;
    gap: 55px;
}
