.service {
    padding-top: 68px;
}



.service_title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: $accent_second-color;
    display: block;
      margin: auto;
    margin-top: 40px;
    margin-bottom: 65px;
}

.service_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    justify-content: space-between;
}



.service_text {
    font-size: 15px;
    color: $text-color;
    font-family: $second-font;
}

.icon {
    width: 37px;
    height: 37px;
    flex-shrink: 0;
}

.service_caption {
    color: $titles-color;
    text-transform: uppercase;
    padding-bottom: 20px;
}