.team {
    padding-top: 100px;
}

.team_subtitle {
    text-align: center;
    font-family: var(--third-text);
    font-size: 24px;
    color: var(--titles-color);
}

.team_title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--titles-color);
    padding-top: 17px;
}

.team_list {
    display: flex;
    gap: 30px;
}

.team_title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--hover);
    display: block;
   margin: auto;
    margin-top: 40px;
    margin-bottom: 65px;
  
}

.team_desc {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--second-text);
    padding-bottom: 27px;
}

.team_name {
    text-align: center;
    color: var(--titles-color);
    padding-top: 30px;
}

.team_post {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--second-text);
    padding-top: 11px;
}