body {
    font-family: $main-font;
    font-size: 14px;
    line-height: 22px;
}



.container {
    width: 1200px;
    margin: 0px auto;

}

.subtitle {
    text-align: center;
    font-family: $third-font;
    font-size: 24px;
    padding-bottom: 20px;
    color: $titles-color;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: $titles-color;
    
}

.article {
    display: flex;
    gap: 20px;
    width: 367px;

}